<H1> Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1- SQL

2- PYthon

3- R

Some of the commonly used libraries used by Data Scientists include:

1- Numpy

2- Pandas

3-Matplotlib

Data Science Tools

| Tool Name |
| --- | 
| Python | 
| R |
| Jupyter Notebook |

<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

This a simple arithmetic expression to mutiply then add integers.

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

<B>Objectives:</B>
List popular languages for Data Science

- SQL
- Python
- R

<H2>Author</H2>

Marwa Kiki